.titleLabel, .contentLabel, .imageLabel{
	display: inline-block;	
	width: 10vw;
}

.contentLabel {
	vertical-align: top;
}

.titleDiv, .contentDiv{
	display: inline-block;
	width: 50vw;
	align-content: top;
}



.titleInput, .contentText{
	width: 100%;
}